/* CSS Entry Point */

body {
  margin: 0px;
}

.main-container {
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  transition: all 2s;
  border: 1px solid red;
  height: 256px;
  // transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];
}

.section-one, .section-two, .section-three {
  // border: 1px solid #00C6D6;
  border: solid 1px black;
  box-sizing: border-box;
  background-color: white;
  transition: transform 2s;
  position: relative;

}

.section-one {
  z-index: -1
}

.slid1  {
  
}

.section-two {
  
}

.slid2 {
position: relative;
bottom: 131px;
transition: transform 2s;
}

.section-three {

  z-index: 1
}

.slid3  {
  position: relative;
  bottom: 262px;

}

div {
  width: 100%;
  box-sizing: border-box;
}

button {
  background: #00C6D6;
  box-sizing: border-box;
  height: 40px;
  padding: 20px 290px;
  border: none;
  text-align: left;
  position: relative;
  &:hover {
    background: #00DAEC;
  }
}

p {
  text-align: center;
  margin: 20px 20px;
  box-sizing: border-box;
  transition: all 2s;
}

// .element {
//     transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];
// }