/* CSS Entry Point */

body {
  margin: 0px;
  padding: 0px;
}

div {
  width: 100%;
  box-sizing: border-box;
}

.app {
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  top: 0px;
  transition: all 2s;
  border: 1px solid #06a1ae;
  // height: 256px;
  // transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];
}

.section-wrapper {
  // border: 1px solid #00C6D6;
  // border: solid 1px black;
  box-sizing: border-box;
  border: 1px solid #06a1ae;
  background-color: white;
  transition: 1s ease;
  overflow: hidden;
  height: 240px;
}


.button {
  background: #00C6D6;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 20px 290px;
  border: none;
  text-align: left;
  // position: relative;
  &:hover {
    background: #00DAEC;
  }
}

p {
  text-align: center;
  padding: 20px 20px;
  box-sizing: border-box;
  margin: 0;
  background: white;

}

.hidden {
  height: 50px;
  transition: 1s ease;
  }


// .element {
//     transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];
// }








